.small-image {
    width: auto !important;
    height: auto !important;
    max-width: 70px !important;
    border-radius: 5px !important;
}

.medium-image {
    width: auto !important;
    height: auto !important;
    max-width: 100px !important;
    border-radius: 5px !important;
}

.pagination {
    .page-item {
        .page-link {
            color: theme-color("primary");
        }
    }
    .page-item.active {
        .page-link {
            background-color: theme-color("primary");
            border-color: theme-color("primary");
            color: #fff;
        }
    }
}

label.error {
    color: red;
}

// table.dataTable thead tr th {
//     word-wrap: break-word;
//     word-break: break-all;
// }

// table.dataTable tbody td {
//     word-break: break-word;
//     vertical-align: top;
// }

// table.dataTable td {
//     word-break: break-word;
//   }

.custom-url-block {
    display: flex;
}

.custom-url {
    word-wrap: break-word;
}

.custom-url-copy {
    margin-left: 10px;
    .copy-btn {
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.6;
        }
    }
}

.html5buttons {
    .dt-buttons {
        a {
            color: theme-color("primary");
            background: #fff;
            border-color: theme-color("primary");
            height: 30px;

            &:hover,
            &:focus,
            &:active {
                color: #fff;
                background: theme-color("primary") !important;
                border-color: theme-color("primary");
                height: 30px;
            }
        }
    }
}

.languageDropdownBlock {
    width: auto;
    position: absolute;
    right: 10%;
    .dropdown-menu {
        min-width: 1rem;
    }
}

.header-notification-dropdown {
    overflow-y: auto;
}

#toast-container > .reservation-notif-toast {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important;
}

/* this will set the toastr style */
.reservation-notif-toast {
    background-color: #10b759 !important;
    opacity: 0.96 !important;
    // background-color: #727cf5 !important;
    .toast-message {
        a {
            color: #212529 !important;
        }
    }
}

#toast-container > div.reservation-notif-toast:hover {
    -moz-box-shadow: 0 0 12px #10b759 !important;
    -webkit-box-shadow: 0 0 12px #10b759 !important;
    box-shadow: 0 0 12px #10b759 !important;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

#registerForm,
.thank-you-wrapper {
    .card-body {
        padding: 0px !important;

        .content {
            border: none !important;
        }
    }

    .wizard > .steps > ul > li {
        width: 33.33%;
    }
}

.thank-you-section {
    // min-height: 450px;
    padding-bottom: 0px;

    .thank-you-text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        min-height: 49vh;

        .thank-you-description {
            font-size: 15px;
        }
    }
}

.wizard .content {
    min-height: 100px !important;
    margin: 0px !important;
}
.wizard .content > .body {
    width: 100%;
    overflow-x: hidden;
    height: auto !important;
    position: relative;
}

@media (max-width: 600px) {
    .wizard > .steps > ul > li {
        width: 50%;
    }
    #registerForm .wizard > .steps > ul > li {
        width: 50%;
    }
    .thank-you-wrapper .wizard > .steps > ul > li {
        width: 50%;
    }

    .wizard > .steps a,
    .wizard > .steps a:hover,
    .wizard > .steps a:active {
        margin-top: 0.5em;
    }

    .wizard.vertical > .steps,
    .wizard.vertical > .actions {
        display: block;
        float: none;
        width: 100%;
    }

    .wizard.vertical > .content {
        display: block;
        float: none;
        margin: 0 0.5em 0.5em;
        width: auto;
    }
}

@media (max-width: 480px) {
    .wizard > .steps > ul > li {
        width: 100%;
    }
    #registerForm .wizard > .steps > ul > li {
        width: 100%;
    }
    .thank-you-wrapper .wizard > .steps > ul > li {
        width: 100%;
    }
    .wizard .content > .body {
        width: 100%;
    }
}

.input-group-text {
    color: #111 !important;
}

.rm-qr-img {
    max-height: 400px;
}

.rm-qr-img-medium {
    max-height: 173px;
}

.flex-start-card {
    align-items: flex-start !important;
}

.qr-right-card {
    color: #727cf5;
    margin-bottom: 0;
    font-size: 0.965rem;
    font-weight: 600;
}

.rm-info-notice {
    font-size: 15px;
}

.fancy-qr-main-block {
    padding: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #e5edf0;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 25px 0px;
    }

    .qr-block {
        display: flex;
        width: 45%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
        padding: 20px 30px;

        .rm-qr-img-large {
            max-height: 170px;
            max-width: 170px;
            // border: 1px solid red;
            border-radius: 15px;
            box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
        }

        @media (max-width: 768px) {
            flex-direction: column;
            width: 100%;
        }
    }

    .phones-block {
        display: flex;
        // align-items: center;
        justify-content: center;
        // border: 1px solid black;
        width: 100%;
        padding: 30px 20px 30px 0px;

        @media (max-width: 768px) {
            // flex-direction: column;
            // align-items: center;
            padding: 20px 20px 0px;
        }
        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        .image-steps-block {
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }
            @media (max-width: 576px) {
                margin-right: 0px;
            }

            .phone-img {
                max-width: 150px;

                @media (max-width: 576px) {
                    max-width: 250px;
                }
            }

            .phones-text {
                line-height: 1.3em;
                display: flex;
                justify-content: center;
                font-size: 12px;

                .or-block {
                    color: #fff;
                }

                @media (max-width: 576px) {
                    font-size: 15px;
                    margin: 25px 0px;
                }

                .step-img {
                    max-width: 40px;
                    margin-right: 6px;
                }
            }
        }
    }
}
