.small-image {
    width: auto !important;
    height: auto !important;
    max-width: 70px !important;
    border-radius: 5px !important;
}

.medium-image {
    width: auto !important;
    height: auto !important;
    max-width: 100px !important;
    border-radius: 5px !important;
}

.pagination {
    .page-item {
        .page-link {
            color: theme-color("primary");
        }
    }
    .page-item.active {
        .page-link {
            background-color: theme-color("primary");
            border-color: theme-color("primary");
            color: #fff;
        }
    }
}

label.error {
    color: red;
}

// table.dataTable thead tr th {
//     word-wrap: break-word;
//     word-break: break-all;
// }

// table.dataTable tbody td {
//     word-break: break-word;
//     vertical-align: top;
// }

// table.dataTable td {
//     word-break: break-word;
//   }

.custom-url-block {
    display: flex;
}

.custom-url {
    word-wrap: break-word;
}

.custom-url-copy {
    margin-left: 10px;
    .copy-btn {
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.6;
        }
    }
}

.html5buttons {
    .dt-buttons {
        a {
            color: theme-color("primary");
            background: #fff;
            border-color: theme-color("primary");
            height: 30px;

            &:hover,
            &:focus,
            &:active {
                color: #fff;
                background: theme-color("primary") !important;
                border-color: theme-color("primary");
                height: 30px;
            }
        }
    }
}

.languageDropdownBlock{
    width: auto;
    position: absolute;
    right: 10%;
    .dropdown-menu{
        min-width: 1rem;
    }
}

.header-notification-dropdown{
    overflow-y: auto;
}